$skin-color: #ec1839;
$skin-color-two: #fa5b0f;
$skin-color-three: #37b182;
$skin-color-four: #1854b4;
$skin-color-five: #f021b2;

:root {
    --bg-black-900: #f2f2fc;
    --bg-black-100: #fdf9ff;
    --bg-black-50: #e8dfec;
    --text-black-900: #302e4d;
    --text-black-700: #504e70;
    --skin-color: #ec1839;
    --skin-color-two: #fa5b0f;
    --skin-color-three: #37b182;
    --skin-color-four: #1854b4;
    --skin-color-five: #f021b2;
}

body.dark {
    --bg-black-900: #151515;
    --bg-black-100: #222222;
    --bg-black-50: #393939;
    --text-black-900: #fff !important;
    --text-black-700: #e9e9e9;
}

.progress-top {
    position: fixed;
    bottom: 20px;
    right: 10px;
    height: 60px;
    width: 60px;
    transition: 1s ease;
    display: grid;
    place-items: center;
    border-radius: 50%;
    box-shadow: 0 0 5px rgba(0, 0, 0, .2);
    cursor: pointer;

    .progress-value {
        height: calc(100% - 10px);
        width: calc(100% - 10px);
        background: #fff;
        border-radius: 50%;
        display: grid;
        place-items: center;
        font-size: 35px;
        color: var(--skin-color);
    }
}

// Generic Classes //
.btn-hire-me {
    display: inline-block;
    font-weight: 500;
    padding: 12px 35px;
    border-radius: 40px;

    white-space: nowrap;
    background-color: var(--skin-color);
    color: #fff;
    transition: all .3s ease;

    &:hover {
        transform: scale(1.05);
        color: #fff;
    }
}
.row-sec {
    padding-left: 15px;
    padding-right: 15px;
}
.padd-15 {
    padding-left: 15px;
    padding-right: 15px;
}
.section-title {
    max-width: 100%;
    padding: 0;
    flex: 0 0 100%;
    margin-bottom: 3.75em;

    position: relative;
    font-size: 2.5em;
    font-weight: 700;
    color: var(--text-black-900);

    &::before {
        content: '';
        height: 4px;
        width: 1.2em;
        background: var(--skin-color);

        position: absolute;
        top: 100%;
        left: 0;
    }

    &::after {
        content: '';
        height: 4px;
        width: 25px;
        margin-top: 8px;
        background: var(--skin-color);

        position: absolute;
        top: 100%;
        left: 0;
    }  
}
.open {
    transform: translateX(-25px) !important;
}
.active {
    color: var(--skin-color) !important;
}

// Aside //
.aside {
    height: 100%;
    width: 16.8em;
    padding: 1.8em;
    border-right: 1px solid var(--bg-black-50);
    background: var(--bg-black-100);

    display: flex;
    justify-content: center;
    align-items: center;

    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    transition: .5s ease;

    .toggle {
        position: absolute;
        width: 70px;
        height: 70px;
        top: 20px;
        right: -120px;

        border-radius: 10px;
        background: var(--bg-black-100);
        box-shadow: 0 10px 20px rgba(0, 0, 0, .08);

        display: none;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        overflow: hidden;

        span {
            position: absolute;
            width: 40px;
            height: 4px;
            background: var(--skin-color);
            border-radius: 4px;
            transition: .5s ease;

            &:nth-child(1) {
                transform: translateY(-15px);
                width: 25px;
                left: 15px;
            }

            &:nth-child(2) {
                transform: translateY(15px);
                width: 15px;
                left: 15px;
            }
        }
    }

    .active-menu {
        span {
            &:nth-child(1) {
                width: 40px;
                transform: translateY(0) rotate(45deg);
                transition-delay: .125s;
            }

            &:nth-child(2) {
                transform: translateY(0) rotate(315deg);
                width: 40px;
                transition-delay: .25s;
            }

            &:nth-child(3) {
                transform: translateX(60px);
            }
        }
    }

    .logo {
        position: absolute;
        top: 50px;
        font-size: 30px;
        text-transform: capitalize;

        a {
            position: relative;
            padding: 15px 20px;
            font-size: 1em;
            font-weight: 700;
            letter-spacing: 5px;
            color: var(--text-black-900);

            &::before {
                content: '';
                height: 20px;
                width: 20px;
                
                position: absolute;
                bottom: 0;
                left: 0;

                border-bottom: 5px solid var(--skin-color);
                border-left: 5px solid var(--skin-color);
            }

            &::after {
                content: '';
                height: 20px;
                width: 20px;
                
                position: absolute;
                top: 0;
                right: 0;
                
                border-top: 5px solid var(--skin-color);
                border-right: 5px solid var(--skin-color);
            }
        }
    }

    .nav-aside {
        margin-top: 50px;
        padding: 0;

        li {
            display: block;
            margin-bottom: 1.2em;

            a {
                display: block;
                padding: 5px 15px;
                font-size: 1em;
                font-weight: 600;
                border-bottom: 1px solid var(--bg-black-50);
                color: var(--text-black-900);

                i {
                    margin-right: 15px;
                }
            }
        }
    }
}

.main-content {
    max-width: 100%;
    padding-left: 16.8em;
    position: relative;
    left: 0;
    right: 0;

    .home,.section {
        display: flex;
        min-height: 100vh;
        padding: 0 30px;
        opacity: 1;
        background: var(--bg-black-900);

        

        .container {
            max-width: 100%;
            margin: auto;
            padding-top: 3.7em;
            padding-bottom: 4.3em;

            .row {
                position: relative;

                .home-info {
                    flex: 0 0 60%;
                    max-width: 60%;

                    h3.hello {
                        font-size: 18px;
                        margin: 15px 0;
                        color: var(--text-black-900);

                        span {

                            font-size: 20px;
                            font-weight: 700;
                            color: var(--text-black-900);
                        }
                    }

                    h3.my-profession {
                        font-size: 1.9em;
                        margin: 15px 0;
                        color: var(--text-black-900);

                        span {
                            color: var(--skin-color);
                        }
                    }

                    p {
                        margin-bottom: 3.5em;
                        font-size: 20px;
                        color: var(--text-black-700);
                    }
                }

                .home-img {
                    position: relative;
                    max-width: 40%;
                    margin-top: -5em;

                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex: 0 0 40%;

                    &::after {
                        position: absolute;
                        content: '';
                        height: 80px;
                        width: 80px;
                        right: 20px;
                        bottom: -40px;
                        border-bottom: 10px solid var(--skin-color);
                        border-right: 10px solid var(--skin-color);
                    }

                    &::before {
                        content: '';
                        position: absolute;
                        height: 80px;
                        width: 80px;
                        left: 20px;
                        top: -40px;
                        border-top: 10px solid var(--skin-color);
                        border-left: 10px solid var(--skin-color);
                    }

                    img {
                        height: 25em;
                        border-radius: 5px;
                    }
                }
            } 
        }
    }

    .about {
        display: block;
        .container {
            .row {
                .about-content {
                    max-width: 100%;
                    flex: 0 0 100%;

                    .row {
                        .about-text {
                            max-width: 100%;
                            flex: 0 0 100%;

                            h3 {
                                margin-bottom: 15px;
                                font-size: 24px;
                                font-weight: 700;
                                color: var(--text-black-900);

                                span {
                                    color: var(--skin-color);
                                }
                            }

                            p {
                                line-height: 25px;
                                color: var(--text-black-700); 
                            }
                        }

                        .personal-info {
                            max-width: 60%;
                            margin-top: 40px;
                            flex: 0 0 60%;

                            .row {
                                div {
                                    width: 50%;
                                    .info-item {
                                        flex: 0 0 100%;
                                        min-width: 100%;
        
                                        p {
                                            font-weight: 600;
                                            padding: 10px 0;
                                            color: var(--text-black-900);
                                            border-bottom: 1px solid var(--bg-black-50);
        
                                            span,a {
                                                display: inline-block;
                                                margin-left: 0.4rem;
                                                font-weight: 400;
                                                color: var(--text-black-700);
                                            }
                                        }
                                    }
                                }
                            }

                            .buttons {
                                margin-top: 30px;

                                a {
                                    &:first-child {
                                        margin-right: 10px;
                                    }
                                }
                            }
                        }

                        .skills {
                            max-width: 40%;
                            margin-top: 40px;
                            flex: 0 0 40%;

                            .row {
                                .skill-item {
                                    flex: 0 0 100%;
                                    max-width: 100%;
                                    margin-bottom: 25px;

                                    h5 {
                                        line-height: 30px;
                                        font-weight: 600;
                                        font-size: 1em;
                                        text-transform: uppercase;
                                        color: var(--text-black-900);
                                    }

                                    div {
                                        .skill-percent {
                                            font-weight: 400;
                                            color: var(--text-black-900);
                                        }
                                    }

                                    .progress {
                                        height: 10px;
                                        background: var(--bg-black-100);
                                        position: relative;

                                        .progress-in {
                                            position: absolute;
                                            height: 100%;
                                            top: 0;
                                            left: 0;
                                            background: var(--skin-color);
                                        }
                                    }
                                }
                            }
                        }

                        .education,.experience {
                            flex: 0 0 50%;
                            max-width: 50%;
                            margin-top: 30px;

                            .title {
                                margin-bottom: 30px;
                                font-size: 24px;
                                font-weight: 700;
                                color: var(--text-black-900);
                            }

                            .timeline-box {
                                flex: 0 0 100%;
                                max-width: 100%;

                                .timeline {
                                    position: relative;
                                    width: 100%;
                                    padding: 30px 15px;
                                    border-radius: 10px;
                                    border: 1px solid var(--bg-black-50);
                                    background: var(--bg-black-100);
                                    box-shadow: 0 0 20px rgba(48, 46, 77, .15);

                                    .timeline-item {
                                        position: relative;
                                        padding-left: 2.3em;
                                        padding-bottom: 3.1em;

                                        &:last-child {
                                            padding-bottom: 0;       
                                        }

                                        &:before {
                                            position: absolute;
                                            content: '';
                                            width: 1px;
                                            height: 100%;
                                            left: 7px;
                                            top: 0;
                                            background: var(--skin-color);
                                        }

                                        .circle-dot {
                                            position: absolute;
                                            height: 15px;
                                            width: 15px;
                                            left: 0;
                                            top: 0;
                                            border-radius: 50%;
                                            background: var(--skin-color);
                                        }

                                        .timeline-date {
                                            font-weight: 400;
                                            font-size: 14px;
                                            margin-bottom: 12px;
                                            color: var(--text-black-700);

                                            i {
                                                margin-right: 5px;
                                            }
                                        }
                                        .timeline-title {
                                            font-size: 18px;
                                            font-weight: 700;
                                            margin-bottom: 15px;
                                            text-transform: capitalize;
                                            color: var(--text-black-900);
                                        }

                                        .timeline-text {
                                            line-height: 25px;
                                            text-align: justify;
                                            color: var(--text-black-700);
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .services {
        display: block;
        
        .container {
            .row {
                .service-item {
                    flex: 0 0 50%;
                    max-width: 50%;
                    margin-bottom: 30px;

                    .service-item-inner {
                        border-radius: 10px;
                        padding: 30px 15px;
                        background: var(--bg-black-100);

                        border: 1px solid var(--bg-black-50);
                        text-align: center;
                        transition: all .3s ease;

                        &:hover {
                            box-shadow: 0 0 20px rgba(48, 46, 77, .15);
                        }

                        .icon {
                            height: 60px;
                            width: 60px;
                            margin: 0 auto 30px;
                            border-radius: 50%;
                            color: var(--text-black-900);

                            display: flex;
                            align-items: center;
                            justify-content: center;
                            text-align: center;
                            transition: all .3s ease;
                        }

                        &:hover .icon {
                            background: var(--text-black-900);

                            i {
                                font-size: 25px;
                                color: var(--bg-black-900);
                            }
                        }

                        h4 {
                            margin-bottom: 15px;
                            color: var(--text-black-900);
                        }

                        p {
                            color: var(--text-black-700);
                            line-height: 30px;
                        }
                    }
                }
            }
        }
    }

    .portfolio {
        .container {
            .row {
                .portfolio-heading {
                    max-width: 100%;
                    flex: 0 0 100%;
                    margin-bottom: 40px;
                    font-weight: 500;
                    color: var(--text-black-900);
                }

                .container-port-item {
                    flex: 0 0 50%;
                    max-width: 50%;
                    
                    .portfolio-item {
                        max-width: 100%;
                        height: 320px;
                        margin-bottom: 30px;
                        padding: 10px;
                        border-radius: 5px;
                        box-shadow: 0 0 20px rgba(48, 46, 77, .15);
                        overflow: hidden;
                        
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        cursor: pointer;
                        background: #fff;

                        .portfolio-img {
                            width: 100%;
                            height: 100%;
                            border-radius: 5px;
                            overflow: hidden;

                            img {
                                display: block;
                                width: 100%;
                                height: 100%;
                            }
                        }
                    }
                }
            }
        }
    }

    .contact {
        display: block;
        .container {
            .row {
                .contact-titles {
                    .contact-title {
                        margin-bottom: 20px;
                        font-size: 25px;
                        text-align: center;
                        text-transform: uppercase;
                        color: var(--skin-color);
                    }

                    .contact-sub-title {
                        margin-bottom: 3.7em;
                        font-size: 1.1em;
                        text-align: center;
                        text-transform: uppercase;
                        color: var(--text-black-900); 
                    }
                }

                .container-contact-info {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex: 0 0 50%;
                    max-width: 50%;
                    .contact-info-item {
                        flex: 0 0 50%;
                        max-width: 50%;
                        margin-bottom: 3.5em;
                        text-align: center;
    
                        i {
                            font-size: 25px;
                            color: var(--skin-color);
                        }
    
                        h4 {
                            margin: 15px 0 5px;
                            font-size: 18px;
                            font-weight: 700;
                            color: var(--text-black-900);
                            text-transform: capitalize;
                        }
    
                        p {
                            line-height: 25px;
                            font-weight: 400;
                            color: var(--text-black-700);
                            a {
                                color: var(--text-black-900);
                            }
                        }
                    }
                }

                .contact-form {
                    flex: 0 0 100%;
                    max-width: 100%;
                    form {
                        .form-item {
                            margin-bottom: 30px;
                            .form-group {
                                .form-control {
                                    height: 50px;
                                    padding: 10px 25px;
                                    border-radius: 25px;
                                    border: 1px solid var(--bg-black-50);
                                    background: var(--bg-black-100);
                                    color: var(--text-black-700);
                                    transition: all .3s ease;

                                    &:focus {
                                        box-shadow:  0 0 20px rgba(48, 46, 77, .15);
                                    }
                                }

                                .textarea.form-control {
                                    height: 8.7em;
                                }

                                .span-required {
                                    display: none;
                                }
                            }

                            .btn-hire-me {
                                height: 50px;
                                padding: 0 50px;
                            }
                        }
                    }
                }
            }
        }
    }
}

.style-switcher {
    position: fixed;
    right: 0;
    top: 30px;

    width: 200px;
    padding: 15px;
    border: 1px solid var(--bg-black-50);
    background: var(--bg-black-100);

    z-index: 101;
    border-radius: 5px;
    transition: all .3s ease;
    transform: translateX(100%);

    

    .s-icon {
        height: 40px;
        width: 40px;
        margin-right: 25px;
        font-size: 20px;
        border: 1px solid var(--bg-black-50);
        
        background: var(--bg-black-100);
        color: var(--text-black-700);
        text-align: center;

        position: absolute;
        right: 100%;

        display: flex;
        align-items: center;
        justify-content: center;

        cursor: pointer;
        transition: all .3s ease;
        border-radius: 50%;
    }

    .style-switcher-toggler {
        top: 0;
    }

    .day-night {
        top: 50px;
    }

    h4 {
        margin: 0 0 10px;
        color: var(--text-black-700);
        font-size: 1em;
        font-weight: 600;
    }

    .container-colors {
        .colors {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
    
            span {
                display: inline-block;
                height: 30px;
                width: 30px;
                border-radius: 50%;
                cursor: pointer;
            }
    
            .color-1 {
                background: $skin-color;
            }
            .color-2 {
                background: $skin-color-two;
            }
            .color-3 {
                background: $skin-color-three;
            }
            .color-4 {
                background: $skin-color-four;
            }
            .color-5 {
                background: $skin-color-five;
            }
        }

        .hexa-color {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 1em;

            label {
                width: 30%;
                color: var(--text-black-700);
            }

            input {
                width: 60%;
                padding: 5px;
                border-radius: 5px;
                box-sizing: border-box;
            }
        }
    }



    .container-language {
        .container-flags {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;

            .flag {
                display: flex;
                align-items: center;
                justify-content: center;

                height: 30px;
                width: 30px;
                border-radius: 50%;
                overflow: hidden;
                cursor: pointer;

                img {
                    display: block;
                    width: 100%;
                }

                &:not(:last-child) {
                    margin-right: 1em;
                }
            }
        }
    }
}

@media (max-width: 1169px) {
    .main-content {
        .home,.section {
            .container {
                .row {
                    .home-img {
                        &::after, &::before {
                            display: none;
                        }
                    }
                }
            }
        }

        .about {
            .container {
                .row {
                    .about-content {
                        .row {
                            .personal-info {
                                .row {
                                    display: block !important;

                                    div {
                                        width: 100%;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 1000px) {
    .aside {
        width: 10em;
        left: -10em;

        .toggle {
            display: flex;
        }

        .logo {
            span {
                display: none;
            }
        }

        .nav-aside {
            li {
                a {
                    display: flex;
                    i {
                        display: block;
                        margin: auto;
                        font-size: 1.5em;
                    }
                    span {
                        display: none;
                    }
                }
            }
        }
    }

    .main-content {
        padding-left: 0;
        .home,.section {
            .container {
                .row {
                    .home-info {
                        min-width: 100%;
                    }
                    .home-img {
                        display: none;
                    }
                }
            }
        }

        .about {
            .container {
                .row {
                    .about-content {
                        .row-infos {
                            display: block !important;

                            .personal-info {
                                max-width: 100%;
                                .row-info-item {
                                    display: flex !important;

                                    .container-inner-item {
                                        width: 50%;
                                    }
                                }
                            }

                            .skills {
                                max-width: 100%;
                                .row {
                                    display: flex;
                                }
                            }
                        }

                        .row {
                            display: block !important;
                            .education, .experience {
                                min-width: 100%;
                                margin-top: 4em;
                            }
                        }
                    }
                }
            }
        }

        .services {
            .container {
                .row {
                    display: block;

                    .service-item {
                        max-width: 100%;
                    }
                }
            }
        }

        .contact {
            .container {
                .row {
                    .container-contact-info {
                        display: block;
                        flex: 0 0 50%;
                        max-width: 50%;

                        .contact-info-item {
                            flex: 0 0 100%;
                            max-width: 100%;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 800px) {
    .main-content {
        .portfolio {
            .container {
                .row {
                    display: block !important;

                    .container-port-item {
                        max-width: 100%;
                    }
                }
            }
        }

        .contact {
            .container {
                .row {
                    .contact-form {
                        form {
                            .form-item {
                                width: 100%;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 550px) {

    .main-content {
        .about {
            .container {
                .row {
                    .about-content {
                        .row-infos {
                            .personal-info {
                                .row {
                                    display: block;
    
                                    .container-inner-item {
                                        width: 100%;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    
        .contact {
            .container {
                .row {
                    .container-contact-info {
                        flex: 0 0 100% !important;
                        max-width: 100% !important;
    
                        .contact-info-item {
                            flex: 0 0 100%;
                            max-width: 100%;
                        }
                    }
                }
            }
        }
    }
}